In [1]:
import pandas as pd

In [2]:
data_file = "data/in/GeolocalisationEtablissement_Sirene_pour_etudes_statistiques_utf8.csv"

df = pd.read_csv(data_file, sep=';')

/Users/gregs/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
cols_to_keep = ['siret','y_latitude', 'x_longitude']
df = df.loc[:, cols_to_keep]

In [4]:

save_file = 'data/interim/sirene_smaller.csv'
df.to_csv(save_file, index = False)

In [5]:
del(df)

In [6]:
df = pd.read_csv(save_file)

In [7]:
df.head()

            siret  y_latitude  x_longitude
0  82644042200010   48.480519     5.857737
1  40909561900014   48.187570     6.187949
2  91091485200017   48.073265     6.014435
3  78341973200020   48.016545     5.832695
4  32169992800016   48.212595     6.260872

In [8]:
top_cities  = {'Montpellier' : ( 3.876716, 43.610769)}

bbox = [43.2, 43.8, 3.3, 4.5 ]

In [9]:
df = df.sort_values(by="y_latitude")

df = df.loc[df["y_latitude"] < 43.8 , : ]
df = df.loc[df["y_latitude"] > 43.2 , : ]

In [10]:
df = df.sort_values(by="x_longitude")

df = df.loc[df["x_longitude"] < 4.5 , : ]
df = df.loc[df["x_longitude"] > 3.3 , : ]

In [11]:
save_file = 'data/interim/sirene_filtered.csv'
df.to_csv(save_file, index = False)

In [12]:
df.head()

                   siret  y_latitude  x_longitude
22472174  44911310900044   43.427691     3.300005
4735745   44847792700025   43.321289     3.300020
11814469  34121084700024   43.322189     3.300025
723190    42835880800015   43.322189     3.300025
10860389  89019614000010   43.323988     3.300034

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652581 entries, 22472174 to 23393407
Data columns (total 3 columns):
siret          652581 non-null int64
y_latitude     652581 non-null float64
x_longitude    652581 non-null float64
dtypes: float64(2), int64(1)
memory usage: 19.9 MB